

<template>
    <div>
        <div id="tut">
            {{ message }}
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <span v-bind:title="message2">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
        <p v-if="seen">Now you see me</p>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
    </div>
</template>


<script src="./tutorial.ts"></script>


