<h2>Core Tracking Criteria</h2>

<div class="criteria-container col-xs-12">
    <form [formGroup]="trackingForm" (ngSubmit)="onSubmit(trackingForm, $event)" novalidate>
        <div class="search-criteria">
            <div class="form-group">
                <div class="col-md-6">
                    <label [myLabel] [myHighlight]="color" class="control-label col-xs-4">Reader Organization</label>
                    <div class="col-xs-8">
                        <dropDownList formControlName="readerOrg" selectType="All" url="/api/Tracking/GetReaderOrgs"></dropDownList>
                    </div>
                </div>
                <div class="col-md-6">
                    <label [myLabel] class="control-label col-xs-4">Location</label>
                    <div class="col-xs-8">
                        <input class="form-control" formControlName="location">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label [myLabel] class="control-label col-xs-4">Sub Location</label>
                    <div class="col-xs-8">
                        <dropDownList formControlName="subLocation" selectType="All" url="/api/Tracking/GetSubLocations"></dropDownList>
                    </div>
                </div>
                <div class="col-md-6">
                    <label [myLabel] class="control-label col-xs-4">Tag ID</label>
                    <div class="col-xs-8">
                        <input class="form-control" formControlName="tagID">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label [myLabel] class="control-label col-xs-4">Equipment No</label>
                    <div class="col-xs-8">
                        <input class="form-control" formControlName="equipNo">
                    </div>
                </div>
                <div class="col-md-6">
                    <label [myLabel] class="control-label col-xs-4">Equipment Category</label>
                    <div class="col-xs-8">
                        <input class="form-control" formControlName="equipCat">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label [myLabel] class="control-label col-xs-4">Equipment Type</label>
                    <div class="col-xs-8">
                        <input class="form-control" formControlName="equipType">
                    </div>
                </div>
                <div class="col-md-6">
                    <label [myLabel] class="control-label col-xs-4">From</label>
                    <div class="col-xs-8">
                        <material-datepicker (onSelect)="onSelectFromDate($event)" dateFormat="YYYY-MM-DD" [(date)]="fromDate"></material-datepicker>
                    </div>
                </div>
                <div class="col-md-6">
                    <label [myLabel] class="control-label col-xs-4">To</label>
                    <div class="col-xs-8">
                        <material-datepicker (onSelect)="onSelectToDate($event)" dateFormat="YYYY-MM-DD" [(date)]="toDate"></material-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit">Search</button>
            <button class='btn bg-primary' (click)="clear()" type="button">Clear</button>
            <button class='btn bg-primary' (click)="export()" type="button">Export</button>
        </div>
    </form>
</div>


<pre>{{ trackingForm.value | json }}</pre>

