<h2>Core Tracking Criteria</h2>
<div class="criteria-container col-xs-12">
    <form [formGroup]="trackingForm" novalidate>
        <div class="form-group">
            <div class="col-md-6">
                <label [myHighlight]="color" class="control-label col-xs-4">Reader Organization</label>
                <div class="col-xs-8">
                    <input class="form-control" formControlName="readerOrg">
                </div>
            </div>
            <div class="col-md-6">
                <label [myLabel] class="control-label col-xs-4">Location</label>
                <div class="col-xs-8">
                    <input class="form-control" formControlName="location">
                </div>
            </div>
        </div>
    </form>
</div>

    <!--<label class="control-label col-xs-2">Sub Location</label>
    <div class="col-xs-10">
        <input class="form-control" formControlName="readerOrg">
    </div>

    <label class="control-label col-xs-2">Tag ID</label>
    <div class="col-xs-10">
        <input class="form-control" formControlName="readerOrg">
    </div>

    <label class="control-label col-xs-2">Equipment No</label>
    <div class="col-xs-10">
        <input class="form-control" formControlName="readerOrg">
    </div>

    <label class="control-label col-xs-2">Equipment Category</label>
    <div class="col-xs-10">
        <input class="form-control" formControlName="readerOrg">
    </div>

    <label class="control-label col-xs-2">Equipment Type</label>
    <div class="col-xs-10">
        <input class="form-control" formControlName="readerOrg">
    </div>

    <label class="control-label col-xs-2">From</label>
    <div class="col-xs-10">
        <input class="form-control" formControlName="readerOrg">
    </div>

    <label class="control-label col-xs-2">To</label>
    <div class="col-xs-10">
        <input class="form-control" formControlName="readerOrg">
    </div>-->





<!--<div class="form-group">



    <div [highlight]="color" class="col-xs-12 col-md-6 col-lg-4">
        Location
    </div>
    <div [highlight]="'yellow'" class="col-xs-12 col-md-6 col-lg-4">
        Sub Location
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        Tag ID
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        Equipment No
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        Equipment Category
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        Equipment Type
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        From
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        To
    </div>
</div>-->

